/* 
 * _navbar.scss
 * 
 * Contains styles related to the navigation bar.
 */
 
 $icon-width: 48px;
 $icon-height: 48px;
 
 /* --- navbar -- */
.navbar {
	@include flex;
	position: fixed;
	top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 75px;
	width: 100%;
    justify-content: flex-start;
    padding-right: 20px;
    padding-left: 20px;
    background-color: $white;
    text-transform: uppercase;
    
    a {
    	transition: .35s;
    }
    
    /* --- logo -- */
	.logo-wrapper {
		@include flex;
		@include align(center);
		margin-right: 15px;
		
		.logo {
			@include flex;
			position: relative;
		    text-decoration: none;
		    margin-top: 5px;
		    margin-bottom: 5px;	    
		    
		    &:hover {
    			@include opacity(.45);
    		}
		    
		    .img {
				width: $icon-width;
				height: $icon-height;
			    
			    &:after {
			    	position: absolute;
					content: "";
					width: $icon-width;
					height: $icon-height;
					background-image: url('../images/wine.svg');
					background-image: url('../images/wine.svg'), none;
			    }
			    
		    }
		    
		    .title {
			    align-self: center;
			    white-space: nowrap;
			    margin-left: 10px;
			    font-weight: $font-weight-xbold;
		    }
		}
	}
	/* --- /logo -- */
	
	/* --- menu -- */
	.nav-menu {
		@include flex;
		@include align(center);
		padding-left: 25px;
		padding-right: 25px;
		text-align: center;
		
		.nav-menu-list {
			@include flex;
			margin: 0;
			align-self: center;
			
			.nav-menu-list-item {
				@include font-size(14);
				display: inline-block;
				font-weight: $font-weight-xbold;
				
				.item {
					@include flex;
					flex-wrap: nowrap;
					padding: 20px 12px;
					color: $grey;
					
					&:hover, &.active {
						color: $text-color;
					}
					
					.item-text {
						margin-left: 15px;
					}
				}
			}
		}
	}
	/* --- /menu -- */
	
	
	
	/* --- search -- */
	.nav-search-wrapper {
		@include flex;
		@include align(center);
		width: 75%;
		
		search-bar {
			width: 50%;
			min-width: 280px;
		    max-width: 100%;
		    position: relative;
		    background: $white;
		    .dd-box {
			    line-height: 29px;
			    font-size: 12px;
			    border-left: 1px solid #eee;
			}
		}
	}
	/* --- /search -- */
}
/* --- /navbar -- */
