/* 
 * _review.scss
 * 
 * Contains styles related to the review detail.
 */
 
$media-width: calculate-rem(300);
$media-height: calculate-rem(300);
$location-width: calculate-rem(300);
$location-height: calculate-rem(300);
$desc-font-size: font-size(18);
$desc-line-height: 1.4;

 /* --- review-wrapper -- */
.review-wrapper {
    display: block;
 	max-width: 1320px;
    margin: 0 auto;
    
	/* --- review-header -- */
	.review-header {
		padding-top: 60px;
    	padding-bottom: 24px;
    	font-weight: $font-weight-xbold;
    	
    	.taster {
    		margin-top: 10px;
    		color: $grey;
    		
    		a {
    			color: $red-xlight;
    		}
    	}
    	
    	.item-info {
			@include flex;
			@include align(strecth);
			flex-direction: row;
    		align-items: stretch;
			margin: 25px 0;
			width: 100%;
			
			.info {
				flex: 1;
				color: $red;
				
				.bookmark-link {
					@include border-radius(4px);
					padding: 5px 15px;
					transition: .35s;
					color: $grey;
					
					&:hover {
						background: $grey;
						color: $white;
					}
					
					.bookmark-icon {
						margin-right: 10px;
					}
				}
				
			}
		}
	}
	/* --- review-header -- */
	
	/* --- detail -- */
	.detail {
		@include flex;
		
		.review-media {
			@include flex
			justify-content: center;
			flex-wrap: wrap;
			background-color: $grey-xlight;
				
 			.media {
 				min-width: 0;
				margin: 5px;
					
				.img {
					width: $media-width;
					max-width: 100%;
					max-height: $media-width;
				}
 			}
		}
		
		.review {
			margin: 0 15px;
			.description {
				margin-top: 15px;
				max-width: 600px;
				display: block; /* Fallback for non-webkit */
			  	display: -webkit-box;
			  	font-size: $desc-font-size;
			  	line-height: $desc-line-height;
				-webkit-box-orient: vertical;
			}
		}
		
		.location {
			min-width: $location-width;
			min-height: $location-height;
			background-color: $grey-xlight;			
			
			.map {
				width: 100%;
				height: 100%;
			}
		}
	}
	/* --- /detail -- */
	
	.review-error-wrapper {
 		color: $red-xlight;
 		margin: 25px 0;
 		text-align: center;
 	}
}
/* --- /review-wrapper -- */