/* 
 * _search.scss
 * 
 * Contains Search component styles.
 */
 
 $info-font-size: calculate-rem(18);
 
 .search-wrapper {
 	display: block;
 	max-width: 1320px;
    margin: 0 auto;
 	
 	.search-header {
 		padding-top: 60px;
 		padding-bottom: 24px;
 		.info {
 			padding-top: 0;
    		padding-bottom: 32px;
    		font-size: $info-font-size;
 			font-weight: $font-weight-xbold;
 			
 			.title {
 				padding: 20px 0;
 			}
 		}
 	}
 }
 