/* 
 * _aside.scss
 * 
 * Contains styles for the sidenav display.
 * 
 */
 
 $sidenav-width: calculate-rem(350);
 $sidenav-font-size: calculate-rem(18);
 
 /* --- sidenav -- */
 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $grey;
    opacity: .75;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: $body-padding-top;
    
    //show elements
    &.show {
    	width: $sidenav-width;
    	
    	.actions {
    		display: block;
    		
    		.text {
    			padding-left: 15px;
    		}
    	}
    	
    	.result-list {
    		display: block;
    	}
    }
    
    .actions {
    	display: none;
    	text-align: left;
    	font-weight: $font-weight-xbold;
    	padding: 10px 10px;
		background-color: $white;
    	
    	a {
    		display:block;
    	}
    }
    
    .result-list {
    	display: none;
	    .result {
			
			&:hover {
				background-color: $white;
				
				a {
					color: $grey;
				}
			}
			
			a {
			    padding: 10px 10px;
			    font-size: $sidenav-font-size;
			    color: $white;
			    display: block;
			    transition: 0.3s;
			    
				width: $sidenav-width;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			    
			    .text {
	    			padding-left: 10px;
	    			display: inline-block;
	    		}
			}    
	    }
	    
	    h4 {
	    	padding: 15px;
    		color: $white;
	    }
	}
}

@media screen and (max-height: 450px) {
  .sidenav {
  	padding-top: 15px;
  	a {
  		font-size: inherit;
  	}
  }
}

 /* --- sidenav -- */