<header class="header">
	<nav class="navbar">
		<!-- brand -->
		<div class="logo-wrapper">
			<a class="logo" data-ui-sref="home" title="{{'COMMON.TITLE' | translate}}">
				<span class="img"></span>
				<span class="title-wrapper">		
					<span class="title" data-translate="COMMON.TITLE"></span>
					<span class="sub-title" data-translate="COMMON.SUB_TITLE"></span>
				</span>
			</a>
		</div>
		<!-- brand -->
		
		<!-- search -->
		<div class="nav-search-wrapper">
			<search-bar data-ng-hide="'home' | isState"></search-bar>
		</div>
		<!-- /search -->
		
		<!-- menu links -->
		<div class="nav-menu">
			<ul class="nav-menu-list">
				<li class="nav-menu-list-item">
					<a class="item" data-ng-click="navbar.showBookmarks()" data-ng-class="{'active': navbar.selected === 'bookmarks'}">
						<i class="fas fa-bookmark"></i>
						<span class="item-text" data-translate="COMMON.BOOKMARKS"></span>
					</a>
				</li>
				<li class="nav-menu-list-item">
					<a class="item" data-ng-click="navbar.showHistory()" data-ng-class="{'active': navbar.selected === 'history'}">
						<i class="fas fa-history"></i>
						<span class="item-text" data-translate="COMMON.HISTORY"></span>
					</a>
				</li>
			</ul>
		</div>
		<!-- /menu links -->
		
	</nav>
</header>