<div class="search-bar">
	<form class="search">
		<div>
			<div class="dd-box">
				<button class="dd-btn" type="button">
					{{'SEARCH.ALL' | translate}}
				</button>
				<div class="dd-actions">
				    <a class="action" data-translate="SEARCH.TITLE"></a>
				    <a class="action" data-translate="SEARCH.WINERY"></a>
				    <a class="action" data-translate="SEARCH.TASTER"></a>
				 </div>
			</div>
			<button class="search-btn" type="button">
				<i class="fas fa-search"></i>
			</button>
			<span class="input-wrapper">
				<input type="text" name="query" placeholder="{{'SEARCH.PLACEHOLDER' | translate}}" data-autofocus="" autocomplete="off">
			</span>
		</div>
	</form>
</div>