<div class="search-bar">
	<form class="search" data-ng-submit="searchBar.search($event)">
		<div>
			<div class="dd-box" data-ng-click="searchBar.showCategories = !searchBar.showCategories">
				<button class="dd-btn" type="button" data-translate="{{'SEARCH.' + searchBar.category.name}}"></button>
				<div class="dd-actions" data-ng-show="searchBar.showCategories">
				    <a class="action" data-ng-repeat="category in searchBar.categories" data-ng-click="searchBar.updateCategory(category)">
				    	{{'SEARCH.' + category.name | translate}}
				    </a>
				 </div>
			</div>
			<button class="search-btn" type="submit">
				<i class="fas fa-search"></i>
			</button>
			<span class="input-wrapper">
				<input type="text" name="query" data-ng-model="searchBar.query" placeholder="{{'SEARCH.PLACEHOLDER' | translate}}" data-autofocus="" autocomplete="off">
			</span>
		</div>
	</form>
</div>