<div class="review-wrapper">
	
	<div class="loader" data-ng-show="review.isLoading"></div>
	
	<div data-ng-if="!review.isLoading && !review.loadFailed">
		<div class="review-header">
			<h1>{{review.detail.title_s}}</h1>
			<h4 class="taster">
				<span data-ng-if="!!review.detail.taster_name_s" data-translate="COMMON.REVIEWED_BY" data-translate-values="{taster: review.detail.taster_name_s}"></span>
				<span data-ng-if="!review.detail.taster_name_s" data-translate="COMMON.REVIEWED_BY_UNKNOWN"></span>
				<a data-ng-if="!!review.detail.taster_twitter_handle_s" href="https://twitter.com/{{review.detail.taster_twitter_handle_s}}">({{review.detail.taster_twitter_handle_s}})</a>
			</h4>
			<div class="item-info">
				<div class="info"><i class="fas fa-certificate"></i> {{review.detail.points_s}} / {{review.detail.price_i | currency}}</div>
				<div class="info">{{review.detail.winery_s}} / {{review.detail.variety_s}}</div>
				<div class="info">{{review.detail.province_s}}, {{review.detail.country_s}}</div>
				<div class="info">
					<a class="bookmark-link" data-ng-click="review.toggleBookmark()" data-ng-switch="review.isBookmarked">
						<span data-ng-switch-when="false">
							<i class="bookmark-icon far fa-bookmark"></i>
						</span>
						<span data-ng-switch-default>
							<i class="bookmark-icon fas fa-bookmark"></i>
						</span> 
						{{(review.isBookmarked ? 'COMMON.BOOKMARKED' : 'COMMON.BOOKMARK') | translate}}
					</a>
				</div>
			</div>
		</div>
		<div class="detail">
			<div class="review-media">
				<div class="media">
					<img class="img" data-ng-src="{{review.wineRedLargeImage}}">
				</div>
			</div>
			<div class="review">
				<p class="description">{{review.detail.description_t[0]}}</p>
			</div>
			<div class="location">
				<div class="map" 
				 data-ng-if="!review.isLoading" 
				 data-review-map data-province="{{review.detail.province_s}}" 
				 data-country="{{review.detail.country_s}}"></div>
			</div>
		</div>
	</div>
	
	<!-- error -->
  	<div class="review-error-wrapper" data-ng-if="review.loadFailed">
  		<h3 data-translate="COMMON.ERROR"></h3>
  	</div>
  	<!-- /error -->
  	
</div>