<div class="review-wrapper">
	<div class="review-header">
		<h1>Some Wine Title</h1>
		<h4 class="grey">Reviewed by <a href="">Derek Zoolander (@derekzoolander)</a></h4>
	</div>
	<div class="detail">
		<div class="info">INFO</div>
		<div class="review">
			<p>This tremendous 100% varietal wine hails from Oakville and was aged over three 
			years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, 
			framed by elegant, fine tannins and a subtle minty tone in the background. 
			Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. 
			Enjoy 2022-2030.
			</p>
		</div>
	</div>
</div>