/* 
 * _layout.scss
 * 
 * Contains layout styles
 */

$body-padding-top: calculate-rem(75);
$body-padding-bottom: calculate-rem(25);

body {
	box-sizing: border-box;
    padding-top: $body-padding-top;
    padding-bottom: $body-padding-bottom;	
}

ui-view, home, search, search-bar {
	display: block;
}

footer {
	position: relative;
	padding: 15px;
	text-align: center;
}

.clearfix {
	&:before {
	    content: " ";
	    display: table;
  	}
	&:after {
		content: " ";
	    display: table;
	    clear: both;
	}
}
