/* 
 * _layout.scss
 * 
 * Contains layout styles
 */

$body-padding-top: calculate-rem(75);
$body-padding-bottom: calculate-rem(75);

body {
	box-sizing: border-box;
    padding-top: $body-padding-top;
    padding-bottom: $body-padding-bottom;	
}

ui-view, home, search, search-bar {
	display: block;
}
