/* 
 * _typography.scss
 */
 
@import url('https://fonts.googleapis.com/css?family=Lato');

$font-stack: 'Lato', sans-serif;
$font-base-size: 16px;

// Font Size
$font-size-h1: 2rem;
$font-size-h2: 1.875rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.125rem;
$font-size-h6: 1rem;

// Font Weights
$font-weight-xlight: 100;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 500;
$font-weight-xbold: 600;

body {
 	font-size: $font-base-size;
	font-family: $font-stack;
	color: $text-color;
}


h1, .h1 { 
	font-size: $font-size-h1; 
}

h2, .h2 { 
	font-size: $font-size-h2; 
}

h3, .h3 { 
	font-size: $font-size-h3; 
}

h4, .h4 { 
	font-size: $font-size-h4; 
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	&:visited, &:hover, &:active {
		color: inherit;
	}
}

a, input, select, textarea, button {
    outline: 0 !important;
}

strong {
	font-weight: $font-weight-xbold;
}

[placeholder] {
    text-overflow: ellipsis;
}

.lowerase {
	text-transform: lowercase;	
}

.capitalize {
	text-transform: capitalize;
}